<div class="first-part">
    <app-card>
        <div class="card-warrper">
            <div class="title">
                <p class="regular-13 gray">Available Balance</p>
                <h1>{{'16003'| number: '1.2-2'}}<span style="font-size: 13px;">SAR</span></h1>
            </div>
            <div class="actions">
                <div class="action">
                    <app-icon color="#0F172A" icon="assets/images/dashboard/transfare.svg"
                        title="Transfer amount"></app-icon>
                    <p class="medium-14">Transfer amount</p>
                </div>
            </div>
            <div class="footer">
                <img src="assets/images/dashboard/anb.svg" alt="" srcset="">
                <p class="regular-13" style="flex:1">SA83 9000 0000 0299 0047 4640</p>
                <app-icon color="#009877" icon="assets/images/dashboard/dots.svg" title="Transfer amount"></app-icon>
            </div>
        </div>
    </app-card>
    <app-card>
        <div class="card-warrper">
            <div class="title">
                <p class="regular-13 gray">Cards Balance</p>
                <h1>{{'16003'| number: '1.2-2'}}<span style="font-size: 13px;">SAR</span></h1>
            </div>
            <div class="actions">
                <div class="action">
                    <app-icon color="#0F172A" icon="assets/images/dashboard/issue.svg"
                        title="Issue New Card"></app-icon>
                    <p class="medium-14">Issue New Card</p>
                </div>
                <div class="action">
                    <app-icon color="#0F172A" icon="assets/images/dashboard/fund.svg" title="Fund Card"></app-icon>
                    <p class="medium-14">Fund Card</p>
                </div>
            </div>
            <div class="footer">
                <img src="assets/images/dashboard/nano.svg" alt="" srcset="">
                <p class="medium-15" style="flex:1">All Cards</p>
                <img src="assets/images/dashboard/arrow-left.svg" alt="" srcset="">
            </div>
        </div>
    </app-card>

</div>